
#login{
    background-color: #24499F;
    color: white;
    opacity: 0.8;
    text-align: center;
    width: 80%;
    height:80%;
    margin: 10%;
    alignment: center;

}
#logo{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
#login_form{
    display:block;
    margin: auto;
}